.Nav1 {
                      width: 100%;
                      height: 200px;
                      margin: auto;
                      padding: 0%;
                      height: 100px;
                     
                    }
                    
                    .navh1 {
                      color: rgb(249, 26, 112);
                      display: flex;
                      font-family:monospace;
                      font-size: 35px;
                     
                    }
                    .logoimg1{
                      margin-top: 20px;
                      margin-left: 90px;
                    }
                    .logoandinput {
                      display: flex;
                      margin-left: 40px;
                    }
                    
                    #input {
                      padding: 19px;
                      margin-top: 15px;
                      padding-left: 10px;
                      padding-right: 180px;
                      margin-left: 15px;
                    }

                    .ban1{
                      margin-left: 60px;
                      font-size: 20px;
                     
}

.down{
                      display: flex;
                     margin-left: 150px;
}

.rightside1{
                      margin-left: 80px;
}

.sign{
                      background-color: palevioletred;
}